/* Common imports */
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Ensure full height and reset margins for html and body */
html, body {
    height: 100%; 
    margin: 0;
    font-family: "Nerko One", cursive; /* Or 'Arial', sans-serif; depending on your section */
}

/* Apply background color */
body {
    background-color: #f7eadf; /* Background color of the outer container */
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    background-color: #f7eadf; /* Background color of the outer container */
}

/* Styles for the login and register containers */
.login-container, .register-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif; /* or inherit depending on your design */
}

/* Titles for login and register */
.login-title, .register-title {
    font-size: 24px;
    color: #4c3b32;
    text-align: center;
}

/* Welcome text */
.login-welcome, .register-welcome {
    color: #7e6e61;
    text-align: center;
    margin-bottom: 20px;
}

/* Form styles */
.login-form, .register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Input group */
.login-input-group, .register-input-group {
    display: flex;
    flex-direction: column;
}

.login-input-group label, .register-input-group label {
    font-size: 14px;
    color: #4c3b32;
    margin-bottom: 5px;
    align-self: flex-start; /* Align labels to the left */
}

.login-input-group input, .register-input-group input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #d8c3b1;
}

/* Options and Buttons */
.login-options, .register-options {
    margin-top: -10px;
}

.forgot-password-link, .login-signup a, .register-signin a {
    color: #a87f60;
    text-decoration: none;
}

.login-button, .register-button {
    background-color: #a87f60;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Error messages */
.login-error, .register-error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

/* Additional styling for registration page */
.register-signin, .login-signup {
    text-align: center;
    margin-top: 20px;
    color: #7e6e61;
}
